/client_ui/.DS_Store
/client_ui/node_modules/
/client_ui/dist/
/client_ui/src/env.js
/client_ui/npm-debug.log*
/client_ui/yarn-debug.log*
/client_ui/yarn-error.log*

/client_ui/.idea
/client_ui/*.suo
/client_ui/*.ntvs*
/client_ui/*.njsproj
/client_ui/*.sln

/server_api/node_modules
/server_api/public/hot
/server_api/public/storage
/server_api/storage/*.key
/server_api/vendor
/server_api/.idea
/server_api/.vagrant
/server_api/Homestead.json
/server_api/Homestead.yaml
/server_api/npm-debug.log
/server_api/yarn-error.log
/server_api/.env

/server_io/node_modules
